* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto";
    background-color: #ccc;
}

nav {
    width: 100%;
    background-color: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;

    & h1 {
        width: 640px;
        font-size: 2rem;
        margin: 0;
        padding: 0;
        padding: 10px 0;
    }
}

.feed {
    width: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 60px auto;
    gap: 60px;
}

.card {
    background-color: #fff;

    .cardHeader {
        display: flex;
        padding: 15px 10px;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;

        .cardTitle {
            font-weight: bold;
            font-size: 1.3rem;
        }

        .cardDate {
            color: #ccc;
        }
    }

    .cardImg {
        width: 100%;

        &:last-child {
            height: 600px;

        }
    }

    .cardImg img {
        width: 100%;
    }

    .cardDescription {
        border-top: 1px solid #ccc;
        padding: 16px 48px 16px 16px;
    }
}

.squared {
    width: 100%;
    height: 640px;

    display: flex;
    align-items: center;
}